.login-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#2563eb,#4f46e5);
}

.login-box{
    width:380px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    text-align:center;
}

.avatar{
    width:80px;
    height:80px;
    background:#2563eb;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:35px;
    margin-bottom:20px;
}

.login-box h1{
    color:#2563eb;
    margin-bottom:10px;
}

.login-box p{
    color:#666;
    margin-bottom:25px;
}

.login-box input{
    width:100%;
    padding:14px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.login-box input:focus{
    border:1px solid #2563eb;
}

.login-box button{
    width:100%;
    padding:14px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    font-size:16px;
}

.login-box button:hover{
    background:#1d4ed8;
}